 <div class="header-section">
            <div class="container-fluid">
              <div class="row">
                <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <div class="logopart">
                    <a href="#">KYC application</a>
                  </div>
                </div>
                <div class="col-md-6 col-md-offset-2">
                  <div class="">
                    <nav>
                    <ul class="nav menubar">
                      <li><a href="#">HOME</a></li>
                      <li><a href="#">ABOUT</a></li>
                      <li><a href="#">CONTACT</a></li>
                      <li><a href="#">LOGIN</a></li>
                      <li><a href="#">SIGN UP</a></li>
                    </ul>
                  </nav>
                  </div>
                </div>
              </div>
              </div>
            </div>
            </div>
          </div> 