<div class="footer text-center">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="fineprint_all" style="margin-top:10px;"><br><a href="/privacy-policy/" target="_blank" class="fineprint-link privacy-policy " style="color: white;">Privacy Policy</a> | <a href="/privacy-policy/" target="_blank" class="fineprint-link privacy-policy" style="color: white;"> Do Not Sell My Info </a> | <a href="/terms-of-use/" target="_blank" class="fineprint-link termsofuse" style="color: white;">Terms</a></p>
    </div>
  </div>
</div>
</div>